@model BookShelfHaven5.Models.Customer

@{
    ViewData["Title"] = "Create";
}

<style>
    .register-container {
        display: flex;
        justify-content: center;
    }

    .register-form {
        width: 50%;
    }
</style>

<h1 class="text-center">Welcome to the Book Shelf Haven</h1> <!-- changed the name from original to log in-->
<h3 class="text-center">Register</h3>
<h6 class="text-center">Register by entering your details below</h6> <!--changed the text to log in by entering credentials -->
<hr />

<div class="register-container">
    <div class="register-form">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Username" class="control-label"></label>
                <input asp-for="Username" class="form-control" />
                <span asp-validation-for="Username" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="FirstName" class="control-label"></label>
                <input asp-for="FirstName" class="form-control" />
                <span asp-validation-for="FirstName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="LastName" class="control-label"></label>
                <input asp-for="LastName" class="form-control" />
                <span asp-validation-for="LastName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Email" class="control-label"></label>
                <input asp-for="Email" class="form-control" />
                <span asp-validation-for="Email" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PasswordHash" class="control-label"></label>
                <input asp-for="PasswordHash" class="form-control" />
                <span asp-validation-for="PasswordHash" class="text-danger"></span>
            </div>
            <div class="text-center">
                <input type="submit" value="Register" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div class="text-center">
    <a asp-action="Create" asp-controller="Login" class="btn btn-info"> Already have an account? Go to Log in page</a><!--changed the link to direct to the Log in page or view-->
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
