

@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Cart Item Successfully Added </h1>
    <a asp-action="Index" asp-controller="HomePage" class="btn btn-danger">Go back to Home page</a>
    <a asp-action="Index" asp-controller="Checkout" class="btn btn-success">Go to Checkout</a>
</div>
